<span class="item item-files-list" data-bind="command: useListFilesViewCommand, css: {'selected': tableView}, customTooltip: '%MODULENAME%/ACTION_USE_LIST_VIEW'">
    <span class="icon"></span>
    <span class="text" data-bind="i18n: {'key': '%MODULENAME%/ACTION_USE_LIST_VIEW'}"></span>
</span>

<span class="item item-files-grid" data-bind="command: useGridFilesViewCommand, css: {'selected': !tableView()}, customTooltip: '%MODULENAME%/ACTION_USE_GRID_VIEW'">
    <span class="icon"></span>
    <span class="text" data-bind="i18n: {'key': '%MODULENAME%/ACTION_USE_GRID_VIEW'}"></span>
</span>